<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css"/>
		<title>Make Your Burger</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.16.0/moment.min.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
	<script>
	</script>
</html>
